{% extends "academiausac/base.html"%}

{% load static%}
{% block content%}
  {% for Curso in cursos %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{Curso.imagen.url}}" alt="" style="width: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{Curso.nombrecurso}}</span>
            <span class="section-heading-upper">Codigo de curso: {{Curso.codigo}}</span>
            <span class="section-heading-upper">Costo de curso: {{Curso.costo}}</span>
            <span class="section-heading-upper">Horario: {{Curso.horario}}</span>
            <span class="section-heading-upper">Cupo maximo: {{Curso.cupo}}</span>
            <span class="section-heading-upper">Catedratico: {{Curso.catedratico}}</span>
          </h2>         
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock %}