{% extends "academiausac/base.html"%}
{% load static%}
{% block content%}
<div class="container">

    <div style="float:right ;">
        {% if request.user.is_authenticated%}

            {% include "carro/widget.html"%}
        {%else%}
        <div class="alert alert-danger text-center">Inicia sesion para asignarte</div> 

        {%endif%}
    </div>


   <div class="row">
{%for Curso in asignacion%}
        <div class="col-md-4">
            <div class="card" style="width: 100%; margin: 10px;">
                <!--<img src="{{Curso.imagen.url}}" class="cad-img-top">-->
                <div class="card-body" style="text-align: center;">
                    <h7 class="card-title">{{Curso.nombrecurso}}</h7>
                    <p class="card-text">{{Curso.catedratico_asignado}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'carro:agregar_curso' Curso.id %}" class="btn btn-success">Asignar</a> <!--es esto-->
                </div>
            </div>
        </div>   
{%endfor%}
   </div>
</div>
{% endblock %}